Source: rskj
Section: java
Priority: optional
Maintainer: RSK Release Signing Key <support@rsk.co>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://www.rsk.co

Package: rskj
Architecture: any
Depends: debconf, openjdk-8-jre, ${misc:Depends}
Description: Java implementation of RSK node
 RSKj is a Java implementation of the RSK protocol. http://www.rsk.co
